@import "tailwindcss";

@theme {
  --color-primary: #00A86B;
  --color-primary-hover: #f97316;
  --color-secondary: #00724C;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}


body {
  background: var(--background);
  color: var(--foreground);  
}
